<nav class="navbar">
  <div class="logo">
    <a href="#">
      <img src="path/to/logo.png" alt="Logo">
      <img src="path/to/sub-logo.png" alt="Sub-logo" class="sub-logo">
    </a>
  </div>
  <input type="checkbox" id="navbar-toggle" class="navbar-toggle">
  <label for="navbar-toggle" class="navbar-toggle-label">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <div class="navbar-links">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
