

@use "../../../../assets/scss/function/mixin" as f;
@use "../../../../assets/scss/function/breakpoints" as b;



$header-p: f.rem(48);
$header-s: f.rem(20);
$grow:f.rem(5);

.this-div-is-the-container-of-all-the-app-ui {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr 4fr 1fr;

  grid-template-rows: f.rem(22)  auto auto;

  @include b.media(">=phone") {
      grid-template-rows: calc( $header-p + $header-s + $grow ) auto auto;
    }


  header,
  footer,
  main,
  nav {
    color: #fff;
    margin: 0;
    padding: 0;
  }

  header {
    grid-area:  header;

    nav {
      &:first-child {
        display: none;
        
      }
      
      &:last-child {
        margin-top: 0rem;
        height: $header-p;
        background-color: rgb(74, 105, 122);

      }
      @include b.media(">=phone") {
        &:first-child {
          display: block;
          position: fixed;
          width: 100%;
          top: 0;
          z-index: 1;
          height: $header-s;
        }
        &:last-child {
          margin-top: $header-s;
          height: calc($header-p + $grow);
        }
      }
    }
  }

  main {
    min-height: 90vh;
    grid-area: main;

  }
  nav.navigation {
    grid-area: nav;
    background-color: rgb(32, 121, 172);
  }
  aside {
    grid-area: sidebar;
    background-color: rgb(63, 193, 226);
  }
  footer {
    grid-area: footer;
    width: 100%;
    margin: 0;

  
            @include b.media(">=phone") {

            }
  }
}
