.this-div-is-the-container-of-all-the-app-ui {
 height: 100vh;
 font-family: 'Open Sans', sans-serif;
 font-size: 16px;
 display: grid;
 grid-template-areas: 
'header header header'
'main main main'
'footer footer footer';
grid-template-columns: 1fr 4fr 1fr;
grid-template-rows: 4.5rem auto auto  ;

 header,footer,main,nav.navigation,aside {
  color: #fff;
  padding: 1.25;


 }

  header {
    grid-area: header;
      background-color: rgb(226, 166, 63);

    nav {
      &:first-child {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
        height: 1.5rem;
        background-color: rgb(226, 223, 63);
      }

      &:last-child {
        margin-top: 1.5rem;
        height: 3rem;
        background-color: rgb(226, 123, 63);
      }
    }
  }
  
  main { 
    // margin-top: 3400px;
    min-height: 80vh;
  grid-area:main ;
      background-color: rgba(109, 226, 63, 0.829);
    }
    nav.navigation{
        grid-area: nav ;
      background-color: rgb(32, 121, 172);
    }
    aside{
    grid-area: sidebar;
      background-color: rgb(63, 193, 226);
    }
  footer {
      grid-area: footer ;
        background-color: rgb(147, 3, 183);
    nav:nth-of-type(1){
      height: 6rem;
      background-color: rgb(214, 101, 35);
    }
    nav:nth-of-type(2) {
      height: 6rem;
      background-color: rgb(226, 123, 63);
    }
    nav:nth-of-type(3){
      width: 100%;
      margin: 0;
      height: 1.5rem;
      background-color: rgb(226, 223, 63);
    }
  }
}
