@use "../../../../assets/scss/function/mixin" as f;
@use "../../../../assets/scss/function/breakpoints" as b;



$header-p: f.rem(48);
$header-s: f.rem(24);
$grow:f.rem(5);

.this-div-is-the-container-of-all-the-app-ui {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr 4fr 1fr;

  grid-template-rows: $header-p auto auto;

  @include b.media(">=phone") {
      grid-template-rows: calc( $header-p + $header-s + $grow ) auto auto;
    }

  header,
  footer,
  main,
  nav {
    color: #fff;
    margin: 0;
    padding: 0;
  }

  header {
    grid-area:  header;

    nav {
      &:first-child {
        display: none;
        background-color: rgb(32, 121, 172);
      }
      
      &:last-child {
        margin-top: 0rem;
        height: $header-p;
        background-color: rgb(74, 105, 122);

      }
      @include b.media(">=phone") {
        &:first-child {
          display: block;
          position: fixed;
          width: 100%;
          top: 0;
          z-index: 100;
          height: $header-s;
        }
        &:last-child {
          margin-top: $header-s;
          height: calc($header-p + $grow);
        }
      }
    }
  }

  main {
    min-height: 90vh;
    grid-area: main;
    background-color: rgba(109, 226, 63, 0.829);
  }
  nav.navigation {
    grid-area: nav;
    background-color: rgb(32, 121, 172);
  }
  aside {
    grid-area: sidebar;
    background-color: rgb(63, 193, 226);
  }
  footer {
    grid-area: footer;

    nav:nth-of-type(1) {
      height: 6rem;
      background-color: rgb(214, 101, 35);
    }
    nav:nth-of-type(2) {
      display: none;
      background-color: rgb(226, 123, 63);
    }
    nav:nth-of-type(3) {
      width: 100%;
      margin: 0;
      height: 1.5rem;
      background-color: rgb(226, 223, 63);
    }

            @include b.media(">=phone") {
              nav:nth-of-type(2) {
                display: block;
                  height: 6rem;
                  background-color: rgb(226, 123, 63);
                }

            }
  }
}
