<nav class="nav__continer">
    <div class="nav__logo">
                <img 
                  [src]="'../../../../../assets/svg/logo-2.svg'"
                  [alt]="'../../../../../assets/svg/default'"
          >
    </div>
    <div class="nav__action">
        <span class="nav__action--search">
          <img
           [src]="'../../../../../assets/svg/search.svg'"
           [alt]="'../../../../../assets/svg/default'" /> 
            
        </span>
         <!-- <span class="nav__action--call">
           <img
           [src]="'../../../../../assets/svg/call.svg'"
           [alt]="'../../../../../assets/svg/default'" /> 
        </span> -->
        <span class="nav__action--menu">
               <img 
                 [src]="'../../../../../assets/svg/menu.svg'"
                  [alt]="'../../../../../assets/svg/default'"
              >
        </span>
    </div>

</nav>