

@use "../../../../../assets/scss/function/mixin" as f;
@use "../../../../../assets/scss/function/breakpoints" as m;


$logo-width-icons:f.rem(80);
$logo-height-icons:f.rem(50);
$action-width-icons:f.rem(20);
$action-height-icons: f.rem(48);



.nav{
  &__continer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'logo  action';
    background-color: rgb(255, 255, 255);
    align-items: center;
    
  }
  
  &__logo{
    grid-area: logo;
    img{
                width: $logo-width-icons;
                height: $logo-height-icons;
    }
  }
  &__action{
    align-items: center;
    grid-area: action;
    justify-content: end;
    width:100%;
    height: 100%;
    gap: 5px;
    display: grid;
    grid-template-areas: 'search  menu';
    @include m.media(">=phone") { gap: 40;}
      &--search{
        grid-area: search;
   
        img{
        
          width:  $action-height-icons;
          height: $action-width-icons;
        }
             input {
               display: none;
             }
      
             @include m.media(">=601px") {
               display: flex;
               input {
                 display: block;
                 width: 30%;
               }
             }
          
      }
      &--call{

        grid-area: call;
     
        img{
          width: $action-height-icons;
          height:$action-width-icons;
        }
 
      }
      &--menu{
        grid-area: menu;
        
        img {
            width: $action-height-icons;
            height: $action-width-icons;
          }
      } 
  }

}