/* You can add global styles to this file, and also import other style files */


// #region   global style 
 .npm{
  margin: 0;
  padding: 0;
 } 
// #endregion

// #region  testing 
 .h-test {
   height: 2000px;
 }

 .w-test {
   width: 2000px
 }
// #endregion


// $primary-color: #0077c0;
// $secondary-color: #FBC02D;
// $accent-color: #f85f31fd;
// $background-color: #F5F5F5;
// $neutral-color: #757575;










// // Freight Exchange Platform Color Palette
// $primary-color: #0077c0;
// $secondary-color: #FBC02D;
// $accent-color: #f85f31fd;
// $background-color: #F5F5F5;
// $neutral-color: #7E7E7E;











// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-wtransnet-en-2023-04-07-14_46_06.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-wafasalaf-ma-espacefret-2023-04-07-14_50_17.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-uberfreight-2023-04-07-14_48_48.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-trukkin-2023-04-07-14_48_14.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-truckstop-2023-04-07-14_48_42.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-trella-app-2023-04-07-14_44_54.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-transportexchangegroup-2023-04-07-14_45_58.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-transporeon-en-2023-04-07-14_50_50.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-timocom-co-uk-smart-logistics-system-freight-exchange-vehicle-space-2023-04-07-14_51_16.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-timocom-co-uk-2023-04-07-14_51_03.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-timocom-co-uk-2023-04-07-14_46_29.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-theloadstar-2023-04-07-14_47_09.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-temp-number-org-2023-04-07-14_52_41.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-teleroute-en-en-2023-04-07-14_46_14.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-start-cargoclix-2023-04-07-14_46_51.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-shipwaves-me-2023-04-07-14_47_25.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-shippabo-2023-04-07-14_48_03.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-parcel2go-africa-2023-04-07-14_45_09.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-lorisystems-2023-04-07-14_44_27.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-loadsmart-2023-04-07-14_49_51.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-loadlink-ca-2023-04-07-14_51_56.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-kobo360-2023-04-07-14_48_27.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-jbhunt-shipment-solutions-2023-04-07-14_52_29.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-jbhunt-our-technology-carrier-360-2023-04-07-14_50_03.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-icontainers-2023-04-07-14_47_40.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-gofreight-2023-04-07-14_44_39.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-freightquote-2023-04-07-14_49_12.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-freightos-2023-04-07-14_52_09.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-freightos-2023-04-07-14_47_17.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-freightbro-2023-04-07-14_47_54.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-forto-en-2023-04-07-14_46_40.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-dat-2023-04-07-14_48_34.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-coyote-2023-04-07-14_49_28.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-convoy-2023-04-07-14_48_59.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-cogoport-en-IN-2023-04-07-14_47_32.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-cogoport-en-IN-2023-04-07-14_46_59.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-chrobinson-en-us-2023-04-07-14_49_41.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-cargoplot-2023-04-07-14_51_46.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-cargoon-eu-en-2023-04-07-14_51_24.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-bursatransport-freightexchange-searchload-2023-04-07-14_51_34.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-amitruck-2023-04-07-14_45_01.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-123cargo-eu-en-2023-04-07-14_51_39.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-kobo360-2023-04-07-14_45_38.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/main/screencapture-gofreight-2023-04-07-14_44_47.png,
// https://raw.githubusercontent.com/adevdragooooooooooo/img/man/screencapture- freightlink-co-uk-2023-04-07-14_46_25.png